<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>This is main page </h1>
<body>
    <form action = '/get_data' method = "post"> 
        <label>Enter CRIM :</label><input type="text" name = "CRIM" ><br><br>
        <label>Enter ZN :</label><input  type=text name = "ZN"><br><br>
        <label>Enter INDUS :</label><input  type=text name = "INDUS"><br><br>
        <label>Enter CHAS :</label><input  type=text name = "CHAS"><br><br>
        <label>Enter NOX :</label><input  type=text name = "NOX"><br><br>
        <label>Enter RM :</label><input  type=text name = "RM"><br><br>
        <label>Enter AGE :</label><input  type=text name = "AGE"><br><br>
        <label>Enter DIS :</label><input  type=text name = "DIS"><br><br>
        <label>Enter RAD :</label><input  type=text name = "RAD"><br><br>
        <label>Enter TAX :</label><input  type=text name = "TAX"><br><br>
        <label>Enter PTRATIO :</label><input  type=text name = "PTRATIO"><br><br>
        <label>Enter B :</label><input  type=text name = "B"><br><br>
        <label>Enter LSTAT :</label><input  type=text name = "LSTAT"><br><br>
        <input type = 'submit' value='Check your amout of flat'>

    </form>
    
</body>
</html>